# requirements.txt
torch==2.5.1 --index-url https://download.pytorch.org/whl/cu121
torchvision==0.20.1 --index-url https://download.pytorch.org/whl/cu121
torchaudio==2.5.1 --index-url https://download.pytorch.org/whl/cu121
opencv-python>=4.7.0.72
websockets>=10.4
numpy>=1.24.0
lmdeploy>=0.3.0
Pillow>=9.0.0
